<div class="track-page">
 
  <div class="image-container">
	<img class="track-image" src="{{track.imageURL}}">
  </div>
  <div *ngIf="track" class="track">
    <!--TODO: populate with track name-->
    <h1>{{ track.name }}</h1>
    <p>
      <!--TODO: link to album page, display album name-->
      Track on <a href="/album/{{ track.album.id }}">{{ track.album.name }}</a>
    </p>
    <div>
      <!--TODO: loop over track's artists-->
      <p *ngFor="let artist of track.artists">
        <!--TODO: link to artist page, display artist name-->
        Artist: <a href="/artist/{{ artist.id }}">{{ artist.name }}</a>
      </p>
    </div>
    <p>
      <!--TODO: populate with track duration-->
      Duration: {{ track.durationStr }}
    </p>
    <p>
      <!--TODO: link to track page on spotify, display track name-->
      <a class="btn btn-light" role="button" target="_blank" [href]="track.url"
        >Open {{ track.name }} on Spotify</a
      >
    </p>
  </div>
  <div *ngIf="audioFeatures" class="audio-feature col-4">
    <!--TODO: loop over types of features and create a thermometer component for each-->
    <app-thermometer
      *ngFor="let feature of audioFeatures"
      [feature]="feature"
    ></app-thermometer>
  </div>
</div>
