<div class="artist-page">
  <div *ngIf="artist" class="artist-avatar">
    <div class="artist-profile">
      <!--TODO: populate with artist image URL-->
      <div class="artistImg-container">
        <img id="artistImg" [src]="artist.imageURL" />
      </div>
      <!--TODO: populate with artist name-->
      <div class="artist-name-title">
        <h4 class="artist-word">Artist</h4>
        <h1>{{ artist.name }}</h1>
      </div>

      <div class="white-background">
        <div class="col-2 genre">
          <h3>Genres</h3>
          <ul>
            <!--TODO: loop over artist's genres and display them-->
            <li *ngFor="let gen of artist.genres">{{ gen }}</li>
          </ul>
          <p></p>
        </div>
		<button class="btn follow"> + Follow </button>
      </div>
    </div>
  </div>

  <div class="tracklist">
    <!--TODO: display artist name-->
    <h3 class="artist-top-track">{{ artist.name }}'s Top Tracks</h3>
    <!--TODO: display the artist's top tracks-->
    <app-track-list [tracks]="topTracks"> </app-track-list>
  </div>

  <div *ngIf="artist" class="row">
    <p>
      <!--TODO: link to artist page on spotify, display artist name-->
      <a class="btn btn-light" role="button" target="_blank" [href]="artist.url"
        >Open {{ artist.name }} on Spotify</a
      >
    </p>
    <div class="col-6">
      <!--TODO: display artist name-->
      <h3>{{ artist.name }}'s Albums</h3>
      <!--TODO: Display a carousel component for the artist's albums. Bind carousel's resources and give it a static carouselId.-->
      <app-carousel
        carouselId="artistAlbum"
        [resources]="albums"
      ></app-carousel>
    </div>
    <div class="col-6">
      <h3>Similar Artists</h3>
      <!--TODO: Display a carousel component for similar artists. Bind carousel's resources and give it a static carouselId.-->
      <app-carousel
        carouselId="relatedArtist"
        [resources]="relatedArtists"
      ></app-carousel>
    </div>
  </div>
</div>
